  <ul class="nav">
    <li class="nav-item active-menu" id="discussion">Discussion</li>
    <li class="nav-item" id="enLigne">En ligne</li>
  </ul>
  <div id="chatArea" class="chat-area">
   <ul id="messages"></ul>
   <ul id="users" class="hide">
     
   </ul>
 </div>
   <form action="">
    <input  id="m" autocomplete="off" placeholder="Rédiger un message" /><button><i class="material-icons">
      send
    </i></button>
  </form>
